@{
    ViewBag.Title = "Contact";
}
<style>
    .img_top_contact {
        background-image: url(https://freenice.net/wp-content/uploads/2021/04/hinh-anh-con-cho-phoc-dang-chay-cute.jpeg);
        padding-top: 25%;
        background-size: cover;
        background-position: center; 
    }
    .overlay-top-contact {
        background-color: transparent;
        background-image: linear-gradient(230deg, #49B3F4 0%, #273172 100%);
        opacity: 0.35;
        mix-blend-mode: multiply;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }


    .elementskit-section-title {
        color: #110729;
        margin: 0px 0px 30px 0px;
        font-family: "Montserrat", Sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 52px;
    }

        .elementskit-section-title span {
            color: #49b3f4;
            font-family: "Montserrat", Sans-serif;
            font-size: 48px;
            font-weight: 700;
            text-shadow: 3px 1px 0px #000000;
        }


    .span_TextBlue:hover {
        color: #110729;
    }
</style>

<main aria-labelledby="title">
    <div>
        <div class=" img_top_contact">
        <div class="overlay-top-contact"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div style="margin:64px 0" class="col-12 col-lg-6">
                <p>Liên hệ</p>
                <h2 class="elementskit-section-title ">

                    Hãy ghé thăm <span><span><br /><i class="span_TextBlue"> Office Spa</i></span></span> nhé
                </h2>
                <p style="margin:32px 0"><i style="font-weight:700">Pet Service HCM</i> ra đời với mong muốn mang lại cho khách hàng sự chuyên nghiệp, 
                uy tín mang nét đẹp hoa mỹ mà chúng tôi đem lại sự trải nghiệm tốt nhất cho thú cưng của mọi nhà.
                Với hơn nhiều năm kinh nghiệm trong ngành dịch vụ thú cưng bao gồm: Spa thú cưng, Thú y, Sản phẩm dành cho thú cưng,
                Khách sạn thú cưng, Dịch vụ dắt chó đi dạo, Cung cấp các dòng thú cưng chuyên nghiệp…</p>
                <div>
                    <div>
                        <a  href="#">
                            <i class="md-2 fa-solid fa-shop" /></i>140 Lê Trọng Tấn, P. Tây Thạnh, Q. Tân Phú, TP. Hồ Chí Minh
                        </a>
                    </div>
                    <div>
                        <a  href="#">
                            <i class="md-2 fa-solid fa-phone"></i>Liên Hệ : 0344197279
                        </a>
                    </div>
                    <div>
                        <a  href="#">
                            <i class="md-2 fa-solid fa-envelope"></i>Email : vinhhien12z@gmail.com
                        </a>
                    </div>
                </div>
            </div>
            <div style="margin:64px 0" class="col-12 col-lg-6">
                <div>
                    <span>
                    Đóng góp ý kiến
                    </span>
                    <p> Các trường được đánh dấu * là bắt buộc</p>
                </div>
                <div class="w-100">
                    <label for="inputPassword5" class="form-label"><span style="font-weight:700; font-size:1.2rem">Họ Tên</span><i style="color:red; font-size:1.7rem">*</i></label>
                    <input  type="text" id="inputPassword5" class="form-control" style="max-width:none">
                    <div class="d-flex">
                        <div>
                    <label for="inputPassword5" class="form-label"><span style="font-weight:700; font-size:1.2rem">Số điện thoại</span><i style="color: red; font-size: 1.7rem">*</i></label>
                    <input type="text" id="inputPassword5" class="form-control">
                        </div>
                        <div>
                            <label for="inputPassword5" class="form-label"><span style="font-weight:700; font-size:1.2rem">Email</span><i style="color: red; font-size: 1.7rem">*</i></label>
                            <input type="email" id="inputPassword5" class="form-control">
                        </div>
                    </div>
                    <div>
                        <label for="inputPassword5" class="form-label"><span style="font-weight:700; font-size:1.2rem">Lời nhắn</span><i style="color:red;font-size:1.7rem">*</i></label>
                        <textarea class="form-control w-100" style="max-width:none" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <button class="btn btn-dark mt-4 p-3" style="border-radius:2px">GỬI YÊN CẦU</button>
                </div>
        </div>
    </div>
    </div>
    <section class="container" data-id="fdf3efc" data-element_type="section">
        <div >
            <div >
                <div  data-id="67b49f9" data-element_type="column">
                    <div >
                        <div >
                            <div data-id="f9f4f10" data-element_type="widget" data-widget_type="html.default">
                                <div >
                                    <iframe data-lazyloaded="1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.909440586417!2d106.71389181480038!3d10.741462692345298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f551bb4769b%3A0xfb739f94b5f31791!2zUEVUIFNlcnZpY2UgSENNIC0gROG7i2NoIHbhu6UgY2jEg20gc8OzYyB0aMO6IGPGsG5nIHThuqFpIG5ow6A!5e0!3m2!1svi!2s!4v1601552695723!5m2!1svi!2s" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.909440586417!2d106.71389181480038!3d10.741462692345298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f551bb4769b%3A0xfb739f94b5f31791!2zUEVUIFNlcnZpY2UgSENNIC0gROG7i2NoIHbhu6UgY2jEg20gc8OzYyB0aMO6IGPGsG5nIHThuqFpIG5ow6A!5e0!3m2!1svi!2s!4v1601552695723!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" data-ll-status="loaded" class="entered litespeed-loaded"></iframe><noscript><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.909440586417!2d106.71389181480038!3d10.741462692345298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f551bb4769b%3A0xfb739f94b5f31791!2zUEVUIFNlcnZpY2UgSENNIC0gROG7i2NoIHbhu6UgY2jEg20gc8OzYyB0aMO6IGPGsG5nIHThuqFpIG5ow6A!5e0!3m2!1svi!2s!4v1601552695723!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></noscript>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>